html{
	margin-bottom: 65px;
}

.img-responsive {
    width: 100%;
}

#myCarousel {
	max-height: 700px;
	overflow: hidden;
}

.item img {
	width: 100%;
	height: auto;
}

.form-group{
	margin-bottom: 10px;
}